/*
for 360px
@media (min-width: 576px) {
@media (min-width: 768px) {
@media (min-width: 992px) {
@media (min-width: 1200px) {
*/

@media (min-width: 576px) {

    .page__tul{
        height: 16em;
    }

    .page__news_text{
        width: 255px;
    }
    .page__news_p{
        -webkit-line-clamp: 4;
    }

    .page__pyears_video{
        width: calc(100% - 2em);
        padding: 1em;
    }


    .page__band_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .page__band_text{
        display: block;
        max-width: 360px;
    }
    .page__band_text,.page__band_dates{
        padding: 2em;
    }
    .page__band_dates{
        text-align: left;
        width: fit-content;

        display: flex;
        flex-direction: column;
    }
    .page__band_date{
        margin: .5em 0 .5em 0 ;
    }


    .page__program_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .page__program_map{
        padding:0 1em 0 1em;
        width: calc(100% - 2em);
    }


    .show{
        display: block;
    }
    .page__share{
        padding:   .7em 3em .7em 3em ;
        background-position: 8% , 92%;
    }
    
    .page__share--facebook{
        background-image: url(../img/facebook_icon.png) , url(../img/arrow_purple.png);
        background-size: 1.5em , .5em;
        padding:   .7em 4.5em .7em 3em ;
    }
    .page__share--calendar{
        background-image: url(../img/google_calendar_icon.png), url(../img/arrow_purple.png);
        background-size: 2em , .5em;
        background-position: 6% , 92%;
    }
    .page__nav_fa{
        background-image: url(../img/facebook_icon.png);
        padding: 1em;
        background-position: 50% ;

        margin-left: 10px;
        position:unset;
        float: right;
    }
    .page__nav_fa .show{
        display: none;
    }
    .page__links_icons .show{
        display: none;
    }
    .page__links_icons .page__share--facebook{
        background-image: url(../img/facebook_icon.png);
        background-size: 1.5em;
        padding: 1em;
        background-position: center;
    }
    .page__links_icons .page__share--calendar{
        background-image: url(../img/google_calendar_icon.png);
        background-size: 2em;
        padding: 1em;
        background-position: center;
    }
    .page__date_text{
        padding: 0 1em 0 1em ;
    }



    p{
        font-size: 1.2em;
    }
    .page__date_date{
        font-size: 5em;
    }
    .page__band_p{
        font-size: 1em;
    }
    .page__band_date{
        font-size: 1.8em;
    }
    .page__tul_s{
        font-size: 1.5em;
    }
    .page__tul_header{
        font-size: 1.2em;
    }
    .page__pyears_header,.page__news_header,
    .page__news_h,.page__partners_header,
    .page__band_header, .page__teams_header{
        font-size: 2em;
    }
    

}
@media (min-width: 768px){
    .page{
        margin-top: 100px;
    }
    .page__nav_img_cont{
        position: absolute;
        left:3em;
    }
    .page__nav{
        height: 100px;
        display: flex;
        justify-content: end;
    }
    .page__menu_toggle{
        display: none;
    }
    .page__menu,
    .page__menu::before,
    .page__menu::after{
        display: none;
    }
    .page__nav_container{
        display: block;
        margin-right: 1em;
    }
    .page__nav_container{
        float: right;
        width: fit-content;
        position: unset;
        height: 100%;
        display: block;
        display: flex;
    }
    .page__nav_link{
        font-size: 1.2em;
        padding-right: .75em;
        padding-left: .75em;
    }
    .page__nav_item{
        width: fit-content;
        border: none;
        display: flex;
        align-self: center;
    }
    .page__pyears_p{
        max-width: 850px;
        text-align: center;
        margin: 0 auto;
    }
    .page__hero_vid, .page__hero,.page__hero_overlay{
        height: 50em;
    }
    .page__hero_img{
        height: 25em;
    }   
    .page__tul{
        height: 20em;
    }
    .page__partners{
        margin: 6em 0 6em 0;
    }

    .page__band_p{
        font-size: 1.2em;
        
    }
    .page__band_text{
        max-width: 500px;
        
    }
}
@media (min-width: 992px) {
    .page__links_icons .page__share{
        padding:   .7em 3em .7em 3em ;
        background-position: 8% , 92%;
    }
    .page__links_icons .show{
        display: block;
    }
    .page__links_icons .page__share--facebook{
        background-image: url(../img/facebook_icon.png) , url(../img/arrow_purple.png);
        background-size: 1.5em , .5em;
        padding:   .7em 4.35em .7em 3em ;
    }
    .page__links_icons .page__share--calendar{
        background-image: url(../img/google_calendar_icon.png), url(../img/arrow_purple.png);
        background-size: 2em , .5em;
        background-position: 6% , 92%;
    }
    .page__links_icons{
        flex-wrap: wrap;
        align-content: center;
        grid-column: 3;
    }   
    .page__links_text{
        grid-row: 1;
    }
    .page__links{
        grid-template-columns: repeat(3 , 1fr);
        height: 12em;
    }
    .page__pyears_video{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-self: center;
    }
    .page__tulfest_p{
        max-width: 600px;
    }


    
    .page__news_header , .page__pyears_header,
    .page__teams_header , .page__band_header,
    .page__hero_text   {
        font-size: 2.5em;
    }

    .page__tulfest .page__cta, .page__students .page__cta{
        margin: 1em 0 0 0;
    }
    .page__tulfest_header, .page__students_header{
        font-size: 2em;
        text-align:left;
    }
    .page__tulfest_p, .page__students_p{
        margin: 16px 0 0 0;
    }
    .page__tulfest_img , .page__students_img{
        display: block;
        width: 100%;
        max-width: 600px;
    }
    .page__tulfest, .page__students{
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .page__tulfest_text, .page__students_text{
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-self: center;
    }



    
}
@media (min-width: 1200px) {
    .page__nav_img_cont{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .page__nav_fa{
        background-image: url(../img/facebook_icon.png), url(../img/arrow_blue.png);
        background-size: 1.5em , .5em;
        padding:   .7em 4.5em .7em 3em ;
        background-position: 8% , 92%;
        position:absolute;
        margin: 0;

    }
    .page__nav_fa .show{
        display: block;
    }
    .page__teams_container, .page__pyears_container{
        width: 100%;
        display: grid;
        max-width: 1200px;
        margin: 5em auto 0 auto;
        grid-template-columns: repeat(3, 1fr);
        overflow-x: hidden;
    }
    .page__teams_item,.page__pyears_item{
        width: 100%;
    }
    .page__links{
        grid-template-columns: repeat(4, 1fr);
        height: fit-content;
    }
    .page__links_img{
        display: block;
        margin-top: 1em;
        width: 50%;
        transform: rotate(25deg);
    }
    .page__links_icons{
        grid-column: 4;
    }
    .page__partners_container{
        gap: 4em;
    }
    .page__news_container{
        max-width: 1200px;
        margin: 0 auto;
    }

/*
    .page__hero{
        height: 32em;
    }
    .page__hero_img{
        height: 20em;
    }
    .page__tulfest_img , .page__students_img{
        max-width: 750px;
    }
    .page__band_header,.page__teams_header{
        height: 5em;
        font-size: 4.5em;
    }
    .page__date_date{
        font-size: 12em;
    }*/
}